<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>add new patient</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form th:action="@{/patient/add}" th:object="${patient}" method="post">
            <input type="text" th:field="*{name}" class="form-control" placeholder="patient name">
            birth date <input type="date" th:field="*{birth}" class="form-control">
            <input type="submit" class="form-control" value="Save">
        </form>
    </div>
</body>
</html>
